# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\marce\Desktop\PUCPR\MESTRADO EM SISTEMAS DE AUTOMAÇÃO E IA\Courses\Machine learning\Computational works (works in group)\Machine_Learning_Mastering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
